:root {
  --color-primary: #ffffff;
  --color-secondary: #212529;
  --color-green: #06a77d;
  --color-hover: #0021df;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

li {
  list-style: none;
}

.special {
  color: var(--color-green);
  font-weight: bold;
}

.section-wrapper {
  padding: 5.5rem 1rem 1rem;
}

.section-title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/* ============================= */
/*        Images Carousel        */
/* ============================= */
.carousel-body {
  margin: 1rem auto;
  box-shadow: 0px 5px 20px #858585;
}

.carousel-item {
  background-color: #000000;
}

.carousel-overlay-image {
  height: 17rem;
  background-position: center;
  background-size: cover;
  opacity: 0.75;
}

.carousel-image-title {
  font-weight: bold;
  font-size: 1.2rem;
}

/* ============================= */
/*           Navigation          */
/* ============================= */
#navbar-container {
  padding: 1rem;
}

#navbar-brand a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  margin: 0;
  padding-left: 0.5rem;
  font-weight: 500;
}

#navbar-toggle {
  color: var(--color-primary);
}

/* ============================= */
/*             Header            */
/* ============================= */
header {
  height: 100vh;
  padding: 5rem 1rem 0;
  position: relative;
}

header h3 {
  text-align: center;
  margin: 1rem 0 0;
}

.contact-list-item-p {
  margin-bottom: 0;
}

.contact-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-items: left;
}

.contact-list-item {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0.5rem 0;
}

.contact-list-item-link {
  color: var(--color-green);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.contact-list-item-link:hover {
  color: var(--color-green);
}

.contact-list-item-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

#scroll-down-button-wrapper {
  display: flex;
  justify-content: center;
}

#scroll-down-button {
  font-size: 2rem;
  position: absolute;
  bottom: 2.5vh;
  color: var(--color-secondary);
  animation: up-and-down 2.5s ease-in-out infinite;
}

@keyframes up-and-down {
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ============================= */
/*             About             */
/* ============================= */
.quote-block {
  background-color: #dbdbdb;
  background-color: #e7e6df;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 20px #858585;
}

.quote-paragraph {
  margin-bottom: 0.5rem;
}

.quote-author {
  margin-bottom: 0;
  font-style: italic;
}

/* ============================= */
/*    Services and Projects      */
/* ============================= */
.service-wrapper {
  padding: 5.5rem 0 0;
}

.service-wrapper h4 {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.service-title {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.3rem var(--color-green);
}

.purchase-button {
  background-color: var(--color-green);
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.7rem;
  display: block;
  width: 16rem;
  box-shadow: 0px 5px 20px #858585;
  margin: 1rem auto;
  transition: background-color 0.3s ease-in-out;
}

.purchase-button a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}

.purchase-button a:hover {
  color: var(--color-primary);
}

/* ============================= */
/*            Contact            */
/* ============================= */
#contact-grabber {
  text-align: center;
  font-size: 1.4rem;
}

/* ============================= */
/*            Footer             */
/* ============================= */
footer {
  background-color: var(--color-secondary);
  padding: 1rem;
  text-align: center;
}

footer p {
  color: var(--color-primary);
  margin-bottom: 0;
}

/* ============================= */
/*         Media Queries         */
/* ============================= */
@media (max-height: 900px) {
  #scroll-down-button-wrapper {
    display: none;
  }
}

@media (min-width: 600px) {
  :root {
    font-size: 1.1rem;
  }

  .section-wrapper {
    padding: 1.5rem;
  }

  .carousel-body {
    width: 30rem;
    margin-bottom: 1.3rem;
  }

  /* adding hover effects */
  .contact-list-item-link:hover {
    color: var(--color-hover);
  }

  .purchase-button:hover {
    background-color: var(--color-hover);
  }
}

@media (min-width: 700px) {
  .section-wrapper {
    padding: 3rem;
  }
}

@media (min-width: 1000px) {
  /* some epic styling here */
}

/* TODO: fix issue where About section title is half visible when visited through nav */
