@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-green: #4ad86b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

li {
  list-style: none;
}

/* ============================= */
/*           Navigation          */
/* ============================= */
nav {
  background-color: #000000;
  padding: 1rem;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

#mobile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#mobile-nav h1 {
  color: var(--color-primary);
  margin: 0;
}

#mobile-menu-toggle-button {
  color: var(--color-primary);
  font-size: 2rem;
}

#mobile-toggle-menu {
  background-color: var(--color-secondary);
  z-index: 3;
  position: fixed;
  text-align: center;
  width: 30vw;
  top: 0;
  right: 0;
  transform: translateX(50%);
  transition: transform 0.8s ease-in-out;
}

#mobile-toggle-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0;
}

#mobile-toggle-menu li {
  padding: 0.5rem;
}

#desktop-nav ul {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  margin: 0 auto;
}

#desktop-nav li {
  margin: 0 0.8rem;
}

#desktop-nav li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#desktop-nav {
  display: none;
}

/* ============================= */
/*        Images Carousel        */
/* ============================= */
.carousel-body {
  margin: 3rem auto;
  width: 80vw;
  height: 50vh;
}

.carousel-item {
  background-color: #000000;
}

.carousel-overlay-image { 
  height: 50vh;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
} 

.carousel-image-title {
  font-family: 'Poppins', sans-serif;
}






/* ============================= */
/*         Media Queries         */
/* ============================= */
@media (min-width: 1000px) {
  #mobile-nav {
    display: none;
  }

  #mobile-toggle-menu {
    display: none;
  }

  #desktop-nav {
    display: flex;
  }
}