:root {
  --color-primary: #ffffff;
  --color-secondary: #212529;
  --color-green: #198754;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

li {
  list-style: none;
}

/* ============================= */
/*           Navigation          */
/* ============================= */
#navbar-container {
  padding: 1rem;
}

#navbar-brand a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  margin: 0;
  padding-left: 0.5rem;
  font-weight: 500;
}

#navbar-toggle {
  color: var(--color-primary);
}

/* ============================= */
/*        Images Carousel        */
/* ============================= */
.carousel-body {
  margin: 3rem auto;
  width: 80vw;
  height: 50vh;
}

.carousel-item {
  background-color: #000000;
}

.carousel-overlay-image { 
  height: 50vh;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
} 

.carousel-image-title {
  font-family: 'Poppins', sans-serif;
}






/* ============================= */
/*         Media Queries         */
/* ============================= */
@media (min-width: 1000px) {
  #mobile-nav {
    display: none;
  }

  #mobile-toggle-menu {
    display: none;
  }

  #desktop-nav {
    display: flex;
  }
}